body, #mainWrapper {
    height: 70%;
}

body, .form-control{
    font-size:12px!important;
}

.custom-width {
    width: 80px !important;
}

.tableCats{
    padding-top: 5%;
    text-align: center;
}
.name{
    padding-top: 5%;
}