<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head(title,links)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <th:block th:replace="${links}"/>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cats</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form class="navbar-form navbar-right" th:action="@{/logout}" method="post" style="display:inline">
                <input class="btn btn-default"
                    type="submit" value="Logout"/></form>
        </div>
    </div>
</nav>

<th:block th:fragment="jsfiles(scripts)">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <th:block th:replace="${scripts}"/>
</th:block>

</body>
</html>