<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">

<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Cats</title>
    <link rel="stylesheet" href="/resources/css/main.css">
</head>

<body class="ng-cloak">

<th:block th:insert="~{fragments :: navbar}"/>

<div class="tableCats" ng-controller="CatController as ctrl">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead">{{!ctrl.cat.id ? 'Create cat' : 'Edit cat'}}</span>
            </div>
            <div class="formcontainer">
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal col-md-offset-1">
                    <input type="hidden" ng-model="ctrl.cat.id"/>

                    <div class="row">
                        <div class="form-group col-md-12 name">
                            <label class="col-md-2 control-lable">Name</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.cat.name"
                                       class="form-control input-sm" placeholder="Enter name of the cat" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable">Age</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.cat.age" class="form-control input-sm"
                                       placeholder="Enter age"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable">Color</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.cat.color"
                                       class="form-control input-sm" placeholder="Enter color"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable">Breed</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.cat.breed"
                                       class="form-control input-sm" placeholder="Enter breed"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable">Weight</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.cat.weight"
                                       class="form-control input-sm" placeholder="Enter weight"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions">
                            <input type="submit" value="{{!ctrl.cat.id ? 'Add' : 'Update'}}"
                                   class="btn btn-primary btn-sm"
                                   ng-disabled="myForm.$invalid">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                    ng-disabled="myForm.$pristine">Reset Form
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">List of Cats </span>
            </div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Color</th>
                        <th>Breed</th>
                        <th>Weight</th>
                        <th>Likes</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cat in ctrl.cats">
                        <td><span ng-bind="cat.id"></span></td>
                        <td><span ng-bind="cat.name"></span></td>
                        <td><span ng-bind="cat.age"></span></td>
                        <td><span ng-bind="cat.color"></span></td>
                        <td><span ng-bind="cat.breed"></span></td>
                        <td><span ng-bind="cat.weight"></span></td>
                        <td><span ng-bind="cat.likes"></span></td>
                        <td>
                            <button type="button" ng-click="ctrl.like(cat.id)" class="btn btn-info custom-width">
                                Like
                            </button>
                            <button type="button" ng-click="ctrl.edit(cat.id)" class="btn btn-success custom-width">
                                Edit
                            </button>
                            <button type="button" ng-click="ctrl.remove(cat.id)"
                                    class="btn btn-danger custom-width">
                                Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: jsfiles(~{::script})">
    <script src="/resources/js/app.js"></script>
    <script src="/resources/js/cats_service.js"></script>
    <script src="/resources/js/cats_controller.js"></script>
</th:block>

</body>
</html>

